<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>


   <!--- Basic Page Needs
   ================================================== -->
	<meta charset="utf-8">
	<title>gOrge</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico" >


</head>

<body data-spy="scroll" data-target="#nav-wrap">


   <!-- Header
   ================================================== -->
   <header class="mobile">

      <div class="row">

         <div class="col full">

            <div class="logo">
              gOrge
            </div>

            <nav id="nav-wrap">

               <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

               <ul id="nav" class="nav">
	               <li><a href="#services">What it is?</a></li>
                       <li><a href="#about">MarkDown</a></li>
                       <li><a href="#contact">Get Start</a></li>
               </ul>

            </nav>

         </div>

      </div>

   </header> <!-- Header End -->



   <!-- Services Section
   ================================================== -->
   <section id="services">

      <div class="row section-head">

         <div class="col one-third">
            <h2>New, simpler, beatiful and better mail list for the 21st century</h2>
         </div>

         <div class="col two-thirds">
            <div class="intro">
             <p> With gOrge we create a new, simpler and just better mail list system, 
               it is now simpler to create a new discussion thread and
               share with everybody in the world your discussion; you won't need anymore to
               explain again and again to different person or team what decision are been made
               nor explain why, they can just read it by themself.
             </p>
            </div>
         </div>

      </div>

      <div class="row">

         <div class="services-wrapper">

           
            <div class="col">
               <h2><i class="icon-star"></i>Beatiful</h2>
               <p>gOrge works with markdown, very simple and extremely powerful text format that let you espress any idea
               or format in manner of few character.</p>
            </div>

            <div class="col">
               <h2><i class="icon-desktop"></i>Simple</h2>
               <p>Very simple to use, you don't even need to sign up to start using the service, just leave your alias or your email or your name,
               so the other participant will know who you are, and you can start your thread right now.</p>
            </div>

            <div class="col m-first">
               <h2><i class="icon-camera"></i>Better</h2>
               <p>Less is More.</p>
               <p>gOrge has no-feature by design, just that easy to use and understand.</p>
            </div>

            <div class="col first">
               <h2><i class="icon-usd"></i>Free</h2>
               <p>gOrge is free for everybody</p>
               <p>Simple-(pro?)-feature may be added in the future.</p>
            </div>

            <div class="col m-first">
               <h2><i class="icon-lock"></i>Safe</h2>
               <p>We don't link your alias to anything, you can use your real name, your email addres, a random string, we don't care.
               Remember: "With great power comes great responsability."</p>
            </div>

            <div class="col">
               <h2><i class="icon-eye-close"></i>Privacy</h2>
               <p>We don't read nor analyze in any way the threads, we don't sell adds nor we care about who you are.</p>
            </div>

         </div> <!-- Services-Wrapper End -->

      </div> <!--end row -->

   </section> <!-- Services Section End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row section-head">

         <div class="col one-fourth">
            <h2>MarkDown</h2>
            <p class="desc">How to write your beatiful thread. 
              <a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">Know more.</a></p>
         </div>

         <div class="col three-fourths">
             <p class="intro">gOrge is been designed to be very easy to use, so you can write your post in plain text just
             as you will do with a normal email, however if you follow some simple convetion you can make your post way more
             beatiful, simple to read, and expressive.</p>
         </div>

      </div>

      <div class="row">
         <div class="col full"><h3>A little example</h3></div>
      </div>

      <div class="row">

         <div class="col g-6">
            <h2 class="section-head">What you write</h4>
              <div class="markdown-well">
            <pre>
# Way too big

### Right bigness to use

A simple list:

- First element
- Second
            
[Better example](http://goo.gl/J1IkqD)
            </pre>
	 </div>
         </div>
         <div class="col g-6">
            <h2 class="section-head">What you get</h4>
            <div class="markdown-well">
              <h1 id="waytobigtitle">Way too big</h1>

              <h3 id="righttitletouse">Right bigness to use</h3>

              <p>A simple list:</p>
              
              <ul>
                <li>First element</li>
                <li>Second</li>
              </ul>

              <p><a target="_blank" href="http://goo.gl/J1IkqD">Better example</a></p>
            </div>
			</div>


        
      </div> <!-- Process Wrap End -->

 

   </section> <!-- About Section End-->

    <!-- Contact Section
   ================================================== -->
   <section id="contact">

      <div class="row section-head">
         <div class="col full">
            <h2>Get start now, free</h2>
            <p class="desc">Start your first gOrge</p>
         </div>
      </div>

      <div class="row">

        <form name="gOrge" method="post" action="/new">

          <div class="col g-8">
            <fieldset>
               <input name="title" type="text" placeholder="Title">
            </fieldset>
          </div>

          <div class="col g-3">
            <fieldset>
              <div>
                <input name="email" type="text" placeholder="Who are you.">
              </div>
            </fieldset>
          </div>

          <div class="col full">
            <fieldset>
              <div>
                <textarea name="text" placeholder="MarkDown here"></textarea>
              </div>
            </fieldset>
          </div>
        

          <div>
            <button class="submit">Start New Thread</button>
            <span id="image-loader">
              <img src="images/loader.gif" alt="" />
            </span>
          </div>
        </form>
      </div>

           <div class="post-well">
       <div class="row section-head"> <!-- Title of thread -->
         <div class="full">
            <h1 class="col g-9">{{.Thread.Title}}</h1>
            <p class="col g-3">by {{.EmailAuthor}} at {{.Thread.Time}}</p>
         </div>
       </div>
       <div class="row section-head">
         <div class="col full">
            {{.Html}}
         </div>
       </div>
     </div>


   {{with .Posts}} <!-- loop of posts -->
     {{range .}}
      <div class="post-well">
        <div class="row">
          <aside class="">
            <h2 class="col g-9"> {{.Author}} </h2>
            <p class="col g-3"> wrote at {{.Time}}</p>  
          </aside>

        </div>
        <div class="row">
          <div class="col full">
              {{.Html}}
          </div>
        </div>
      </div>
     {{end}}
   {{end}}

          <!-- Form Reply Start -->

          <div class="row section-head text-gorge">
            <h2> Reply: </h2>
          </div>
          <div class="row">
            <form  method="post" action="/new-post/{{.Thread.Id}}">
              <div class="col full">
                <input name="email" type="text" placeholder="Who are you.">
              </div>
              <div class="col full">
                <fieldset>
                  <div>
                    <textarea name="text" placeholder="Your reply"></textarea>
                  </div>
                </fieldset>
              </div>              
              <div>
                <button class="submit">Reply</button>
                <span id="image-loader">
                  <img src="/images/loader.gif" alt="" />
                </span>
              </div>              
            </form> 
          </div>    <!-- Form Reply End -->
          


   </section> <!-- Contact Section End-->






   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="col g-7">
            <ul class="copyright">
               <li>Copyright &copy; 2013 Kreative</li>
               <li>Design by <a target="_blank" href="http://www.styleshout.com/" title="Styleshout">Styleshout</a></li>
            </ul>
         </div>


      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/scrollspy.js"></script>
   <script src="js/jquery.flexslider.js"></script>
   <script src="js/jquery.reveal.js"></script>
   <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
   <script src="js/gmaps.js"></script>
   <script src="js/init.js"></script>
   <script src="js/smoothscrolling.js"></script>

</body>

</html>